<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clockOn.web.dao.CommuteDAO">

	<select id="goWorkCount" resultType="int">
		select * from go_work
	</select>

	<select id="notWorkCount" resultType="int">
		select * from not_work_count
	</select>

	<select id="holidayCount" resultType="int">
		select * from holidayCount
	</select>

	<select id="lateCount" resultType="int">
		select * from lateCount
	</select>

	<insert id="hiSuccess" parameterType="String">
		insert into working_atti (WORK_DAY, WORK_IN, EMP_ID) values(curdate(), DATE_FORMAT(now(), '%H:%i:%s'), #{emp_id})
	</insert>

	<!-- 자신의 해당 월 출근 기록 확인 -->
	<select id="thisMonthWork" parameterType="String" resultType="int">
 	<![CDATA[    
	select count(WORK_RID) from working_atti where (work_day > LAST_DAY(NOW() - interval 1 month) AND work_day <= LAST_DAY(NOW())) and emp_id = #{emp_id} and work_in is not null
 	]]>
	</select>

	<!--List<Commute> -->
	<select id="listRecord" parameterType="Map"	resultType="com.clockOn.web.entity.commute.Commute">
		select work_rid, work_day, work_in, work_out, work_late, holi_code, work_comm
		from working_atti
		where emp_id = #{emp_id}
		and work_day like '${dates}%' <!--'2021-07-%' -->
		order by work_day asc
	</select>

	<!--List<HashMap<String, String>> -->
	<!-- List<MemberList> -->
	<!-- <select id="searchList" resultType ="com.clockOn.web.entity.member.MemberList" 
		parameterType="HashMap"> select o.org_groupname, o.org_teamname as emp_dept, 
		emp_id, emp_name, emp_posi, emp_tel, emp_email, case when emp_level='0' then 
		'직원' when emp_level='1' then '관리자' end from employee e join organization 
		o on e.emp_dept=o.org_teamcode <where> <foreach item="map" collection="list"> 
		<if test="map.keyword !=null and map.keyword !=''"> and ${map.field} like 
		'%${map.keyword}%' </if> </foreach> </where> order by o.org_groupname; </select> -->

	<!-- 자신의 해당 월 지각 기록 확인 //전월 마지막달 -->
	<select id="thisMonthLate" parameterType="String"
		resultType="int">
	<![CDATA[ 
		select count(*) from working_atti where( work_day > LAST_DAY(NOW() - interval 1 month) AND work_day <= LAST_DAY(NOW()) ) and emp_id= #{emp_id} and work_in is not null and WORK_IN between '09:00:00' and '18:00:00';
	]]>
	</select>


</mapper>