<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clockOn.web.dao.CommuteDAO">

<select id="goWorkCount" resultType="int">

select * from go_work

</select>


<select id="notWorkCount" resultType="int">

select * from not_work_count

</select>

<select id="holidayCount" resultType="int">

select * from holidayCount

</select>

<select id="lateCount" resultType="int">

select * from lateCount

</select>

<insert id="hiSuccess" parameterType="String">

insert into working_atti (WORK_RID, WORK_DAY, WORK_IN, EMP_ID) values('09', curdate(), DATE_FORMAT(now(), '%H:%i:%s'), #{emp_id})
   
</insert>

<!-- 자신의 해당 월 출근 기록 확인 -->
<select id="thisMonthWork" parameterType="String" resultType="int">
 <![CDATA[    
	select count(WORK_RID) from working_atti where (work_day > LAST_DAY(NOW() - interval 1 month) AND work_day <= LAST_DAY(NOW())) and emp_id = #{emp_id} and work_in is not null
 ]]>
</select>

<!-- 자신의 해당 월 지각 기록 확인 -->
<select id="thisMonthLate" parameterType="String" resultType="int">
<![CDATA[ 
	select count(*) from working_atti where( work_day > LAST_DAY(NOW() - interval 1 month) AND work_day <= LAST_DAY(NOW()) ) and emp_id= #{emp_id} and work_in is not null and WORK_IN between '09:00:00' and '18:00:00';
]]>
</select>
<!-- 자신의 해당 월 휴무 기록 확인 -->
<select id="thisMonthHoli" parameterType="String" resultType="int">
<![CDATA[ 
	select count(*) from holiday where ( HOLI_START > LAST_DAY(NOW() - interval 1 month) or HOLI_END <= LAST_DAY(NOW()) ) and emp_id = #{emp_id};
]]>
</select>

<!-- 자신의 해당 월 근무시간 확인 -->
<select id="thisMonthTime" parameterType="String" resultType="int">
<![CDATA[ 	
	select sum(TIMESTAMPDIFF(HOUR, WORK_IN, WORK_OUT)) as workingTime from working_atti where emp_id = #{emp_id} and ( work_day > LAST_DAY(NOW() - interval 1 month) AND work_day <= LAST_DAY(NOW()) );
]]>	
</select>


</mapper>