@charset "UTF-8";

.indexer, .pager {
    color: var(--base-color2);
    width: 1200px;
    position: relative;
    padding-right: 50px;
    right: -300px;
}
.imp, .text-imp{
	color:var(--imp-color) !important;
}
.bold{
	font-weight:bold;
}

.align-right{
	text-align:right;
}

.align-center, .center{
	text-align:center;
}

.pages, .pages li a {
    color: var(--base-color2);
    display: inline-block;
    padding: 10px;
}

.align-center.pager span, .pager div, .pager ul li {
    display: inline-block;
}
.btn-next, .btn-prev {cursor:pointer;}

table.tbl-ex.emp-tbl {
    margin-bottom: 20px !important;
}
.arrow{
	padding:0px 5px;
	display:none;
	width:13px;
}

/*정연님 페이징*/
/* 페이징 버튼 css */
.page_wrap {
   text-align:center;
   font-size:0;
   width: 600px;
   margin-left: 370px;
   margin-bottom: 70px;
 }
.page_nation {
   display:inline-block;
}
.page_nation .none {
   display:none;
}
.page_nation a {
   display:block;
   margin:0 3px;
   float:left;
   border:1px solid #e6e6e6;
   width:28px;
   height:28px;
   line-height:28px;
   text-align:center;
   background-color:#fff;
   font-size:13px;
   color:#999999;
   text-decoration:none;
}
.page_nation .arrow {
   border:1px solid #ccc;
}
.page_nation .pprev {
   background:#f8f8f8  no-repeat center center;
   margin-left:0;
}
.page_nation .prev {
   background:#f8f8f8  no-repeat center center;
   margin-right:7px;
}
.page_nation .next {
   background:#f8f8f8  no-repeat center center;
   margin-left:7px;
}
.page_nation .nnext {
   background:#f8f8f8  no-repeat center center;
   margin-right:0;
}
.page_nation a.active {
   background-color:#42454c;
   color:#fff;
   border:1px solid #42454c;
}