@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/*�뿤�뜑�쁺�뿭, 洹몃┝�옄�슚怨�, postion 怨좎젙*/
header{
    user-select: none;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    margin-left: 0;
    background: white;
    border-bottom: 1px solid #e8edf4;
    box-shadow: 0 4px 8px rgb(165 173 184 / 20%);
    z-index: 99;
}
/*�쉶�궗�씠由꾨�*/
li.nav-item.company-name {
    line-height: 29px;
    vertical-align: bottom;
    font-weight: 500;
}
/*怨꾩젙 愿��젴 �뱶濡��떎�슫 硫붾돱*/
li.nav-item.open {
    position: relative;
    left: -20px;
    font-size: 20px;
    color: var(--base-color2);
}
.navbar-nav .open{   cursor: pointer; }

li.nav-item { display: inline; }
li.nav-item.setting {
    float: right;
    right: 30px;
    position: relative;
    font-size: 20px;
}

.dropdown-menu-right {
    right: 0;
    left: auto;
}

.dropdown-menu {
    /* display: none; */
    max-width: 500px;
    width: 150px;
    position: absolute;
    top: 100%;
    z-index: 1000;
    float: left;
    min-width: 15rem;
    padding: 0.5rem 0;
    margin: 0.25rem 0 0;
    font-size: 0.875rem;
    color: var(--base-color);
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #c2cad5;
    border-radius: 2px;
    box-shadow: 0 3px 6px rgb(127 133 142 / 36%);
}
.nav-item.setting li{
    padding: 5px 20px;
    transform: rotate(-0.03deg);
}
.nav-item li.full-name {
    background-color: var(--imp-color2);
    padding-left: 0;
    padding: 0.5rem 0;
    text-align: center;
    font-weight: 400;
    color: white;
}
.fa-cog:before {
    content: "\f013";
}

/*湲곕낯 : 媛먯텛湲�*/
#menu > ul > li > ul {
    padding:0;
    padding-bottom: 5px;
    width:130px;
    display:none;
    position: absolute;
    font-size:14px;
}

#menu > ul > li > ul > li.link:hover {
    padding-bottom: 5px;
    background: var(--imp-color);
    color:#fff;
}
#menu > ul > li > ul > li.link:hover a {
	color:white;
}
li.dropdown-divider {
    border-bottom: 1px solid #d8dfe8;
    margin-bottom: 5px;
}