main{
    position: relative;
    width: 100%;
    max-width: 1600px;
    height: 100%;
    overflow-x: hidden;
    margin-bottom:100px;
}
.content-wrapper{
    top:62px;
    position: relative;
    margin-left:196px;
}
.nav-expanded .content-wrapper{
    transition: ease-out 0.2s;
}

.nav-collapsed .content-wrapper{
    left:0;
    margin-left:55px;
    transition: ease-in-out 0.2s;
}

h1,h2,h3{
    padding-left: 30px;
}