@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

:root {  
    --bg-color: whitesmoke;
    --imp-color: #0c4c77; 
    --imp-color2:#3498db; 
    --base-color:#333;
    --base-color1:#5e5e5e;
    --base-color2: #7f858e; 
    --base-color3: #c5c7c9; 
    --base-color4:lightgray; 
    --warn-color:#C0392B;
    --font: 'Noto Sans KR'; 
}
.main-wrapper { margin: 50px 80px; }

body {margin:0;padding:0; color:var(--base-color);}

*{ font-family: var(--font), sans-serif; user-select: none;}

ul li{ list-style: none;}

a {
    cursor: pointer;
    text-decoration: none;
    color:black;
}

