/* 寃뚯떆�뙋 �뵒�옄�씤 */

.tbl-ex, .tbl-ex th , .tbl-ex td{
  border:1px solid var(--base-color4);
  width: 1000px;    
  border-width: 0.1px 0;
  border-collapse: collapse;
  text-align: center;
  margin-top: 100px;
  margin-left: 300px;
  font-size: 15px;
  padding:10px;
  transform: rotate(-0.03deg);
}


.tbl-ex th{
border-bottom: 1.5px solid var(--base-color4);
font-size: 16px;
color: var(--base-color);
}

.tbl-ex td{
  border-style:solid;
}

.btns3{
	position: relative;
    left: 205px;
    top: 10px;
}
table.tbl-ex.emp-tbl {
    margin-bottom: 200px;
}