
/* �뿰�씫留� 肄섑뀗痢� 遺�遺� */
h3.team-title {
    padding-left: 20px;
    font-size: 24px;
    margin: 0px;
}

.card-container {
  max-width: auto;
  margin: 0px;
}

.main-content {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  margin-bottom: 100px;
  margin-left: 20px;
  margin-right: 20px;
}

.component {
  margin-right: 40px;
  margin-top: 30px;
  border-radius: 2px; 
  box-shadow: rgba(0, 0, 0, 0.227) 3px 3px 8px 0px;
  
}

.component img {
  max-width: 100%;
  display: block;
}

.component .description {
  text-align: left;
  padding: 0.01rem;
  margin-bottom: 0.5rem;
  background-color: #ffffff;
  transform:rotate(-0.03deg);
}

.description .user-title {
  margin-top: 20px;
}
.description .user-title h3,
.description .user-title h4 {
  display: inline;
  
}

.description .user-description {
  margin-left: 30px;
  margin-right: 30px;
  color: var(--base-color2);
  font-size: 14px;
}
.user-description p {
    margin-top: 0;
    margin-bottom: 5px;
}
.user-description hr {
    margin-top: 20px;
    border: 1px solid var(--base-color4);
}
.description .position {
  color: var(--base-color2);
}

.description .button {
  margin: auto;
  display: block;
  text-decoration: none;
  text-align: center;
  width: 240px;
  background-color: var(--imp-color2);
  padding: 0.3rem 2rem;
  margin-top: 1rem;
  margin-bottom: 15px;
  max-width: 100%;
  border-radius: 3px;
  color: white;
}

@media (min-width: 480px) {
  .component {
    flex: 0 0 calc(50% - 1rem);
  }
}

@media (min-width: 768px) {
  .component {
    flex: 0 0 calc(25% - 3rem);
  }
}
