@charset "UTF-8";
table {	display: block;}
tbody tr { height: 5vh; }
thead {	display: inline-block;	width: 62vw;	padding-right:18px;	box-sizing: border-box; }
tbody {	max-height: 500px;	display: inline-block; 	width: 62vw; overflow-y: auto; }
td, th { box-sizing:border-box;}


.gname, .tname, .eid, .ename, .eposi, .elevel{	width:10.5% !important; }
.etel{	width:13.33% !important; }
.email{	width:24% !importatnt; }

input#emp_level { font-size: 12px; width: 100px; }